/*-------------Calendar Page------------*/
.calendar-h3{
font-size: 40px;
font-weight: bold;
}

.calendar-form{
    border-color: #14213dff;
     border-width: 5rem;
    color: #14213dff;
    background-color: #6188dc;
    font-weight: bold;
}

.calendar-button {
    padding: 0.3rem;
}

.fc-toolbar .fc-header-toolbar {
 color: #14213dff;
 font-weight: bold;
 background-color: #6188dc;
}

.fc-head {
 color: #14213dff;
 font-weight: bold;
 background-color: #6188dc;
}

.fc-day-header .fc-widget-header .fc-wed {
color: #14213dff;
 font-weight: bold;
 background-color: #6188dc;
}

/* Changes the calendar size*/
.fc-widget-content {
  -webkit-margin-bottom: 4rem;
  -moz-margin-bottom: 4rem;
  margin-bottom: 4rem;
  -webkit-height: 7.5rem;
  -moz- height: 7.5rem;
  height: 7.5rem; }

.fc-scroller {
  height: 700px !important; }

/* Changes the calendar content*/
  .fc-view-container {
      width: 100% !important;
     border-collapse: collapse;
      font-size: 1.5rem;
      color:#14213dff;
      background:#819cd7;
  }
 /* One of these three changes the size of the date box */
 .fc-basic-view .fc-body .fc-row {
    -webkit-min-height: 7em;
    -moz-min-height: 7em;
     min-height: 7em;
 }


 /* Changes the calendar events*/

.fc-content{
    background-color: #fca311ff;
    color: #14213dff;
    height: 2rem;
    border-radius: 10%;
}

 /* Changes the calendar date*/
.fc-day-number{
    color:#14213dff;

}
 /* Changes the color of the more events*/
.fc-more {
    color:#14213dff;
}

/* ---------------------About Us----------------------*/
.about-h2{
      font-size: 40px;
    }
    .aboutus{
      display: flex;
      margin-bottom: 150px;
      margin: 100;
      height: 25vh;
      justify-content: space-between;
    }

    .aboutus-message {
     font-size: 18px;
    }

    .about-img{
      height: 20rem;
      width: 20rem;
      border-radius: 50%;
    }

    .about-info {
      /* margin-left: 100px;*/
      margin: auto;
      margin-top: 50px;
      margin-left: 10px;
      font-size: 18px;
      padding: 50px;
      background-color: #7596de;
      border-radius: 20%;
    }

    /*--------------footer ----------*/
    #page-container {
    position: relative;
    min-height: 100vh;
    }

    #content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
    }

       .fragment-footer {
        margin-top:25%;
         margin-bottom: 5rem;
         text-align: center;
         justify-content: center;
         font-size: 1rem;
         border-radius: 100px;
         bottom:0;
         width:100%;
         height:50px;
         padding: 0;
         }

         .copyright-tag{
         font-size: 15px;

         }
