/*
Error: Undefined variable: "$color-orange".
        on line 5 of /mnt/Ubuntu_Data/CodeFellows/finalProject/event-master/Event-Master/src/main/resources/sass/layout/pages/_header.scss
        from line 1 of /mnt/Ubuntu_Data/CodeFellows/finalProject/event-master/Event-Master/src/main/resources/sass/main.scss

1: @import "layout/pages/header";
2: @import "abstracts/variables";

Backtrace:
/mnt/Ubuntu_Data/CodeFellows/finalProject/event-master/Event-Master/src/main/resources/sass/layout/pages/_header.scss:5
/mnt/Ubuntu_Data/CodeFellows/finalProject/event-master/Event-Master/src/main/resources/sass/main.scss:1
uri:classloader:/gems/sass-3.4.24/lib/sass/script/tree/variable.rb:49:in `_perform'
uri:classloader:/gems/sass-3.4.24/lib/sass/script/tree/node.rb:58:in `perform'
uri:classloader:/gems/sass-3.4.24/lib/sass/script/tree/funcall.rb:173:in `perform_arg'
uri:classloader:/gems/sass-3.4.24/lib/sass/script/tree/funcall.rb:124:in `block in _perform'
org/jruby/RubyArray.java:1734:in `each'
org/jruby/RubyEnumerable.java:1067:in `each_with_index'
org/jruby/RubyEnumerator.java:323:in `each'
org/jruby/RubyEnumerable.java:830:in `map'
uri:classloader:/gems/sass-3.4.24/lib/sass/script/tree/funcall.rb:123:in `_perform'
uri:classloader:/gems/sass-3.4.24/lib/sass/script/tree/node.rb:58:in `perform'
uri:classloader:/gems/sass-3.4.24/lib/sass/script/tree/funcall.rb:173:in `perform_arg'
uri:classloader:/gems/sass-3.4.24/lib/sass/script/tree/funcall.rb:124:in `block in _perform'
org/jruby/RubyArray.java:1734:in `each'
org/jruby/RubyEnumerable.java:1067:in `each_with_index'
org/jruby/RubyEnumerator.java:323:in `each'
org/jruby/RubyEnumerable.java:830:in `map'
uri:classloader:/gems/sass-3.4.24/lib/sass/script/tree/funcall.rb:123:in `_perform'
uri:classloader:/gems/sass-3.4.24/lib/sass/script/tree/node.rb:58:in `perform'
uri:classloader:/gems/sass-3.4.24/lib/sass/script/tree/list_literal.rb:63:in `block in _perform'
org/jruby/RubyArray.java:2486:in `map'
uri:classloader:/gems/sass-3.4.24/lib/sass/script/tree/list_literal.rb:63:in `_perform'
uri:classloader:/gems/sass-3.4.24/lib/sass/script/tree/node.rb:58:in `perform'
uri:classloader:/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:397:in `visit_prop'
uri:classloader:/gems/sass-3.4.24/lib/sass/tree/visitors/base.rb:36:in `visit'
uri:classloader:/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
uri:classloader:/gems/sass-3.4.24/lib/sass/stack.rb:79:in `block in with_base'
uri:classloader:/gems/sass-3.4.24/lib/sass/stack.rb:115:in `with_frame'
uri:classloader:/gems/sass-3.4.24/lib/sass/stack.rb:79:in `with_base'
uri:classloader:/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:160:in `visit'
uri:classloader:/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:433:in `block in visit_rule'
org/jruby/RubyArray.java:2486:in `map'
uri:classloader:/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:433:in `block in visit_rule'
uri:classloader:/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
uri:classloader:/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:431:in `visit_rule'
uri:classloader:/gems/sass-3.4.24/lib/sass/tree/visitors/base.rb:36:in `visit'
uri:classloader:/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
uri:classloader:/gems/sass-3.4.24/lib/sass/stack.rb:79:in `block in with_base'
uri:classloader:/gems/sass-3.4.24/lib/sass/stack.rb:115:in `with_frame'
uri:classloader:/gems/sass-3.4.24/lib/sass/stack.rb:79:in `with_base'
uri:classloader:/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:160:in `visit'
uri:classloader:/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:328:in `block in visit_import'
org/jruby/RubyArray.java:2486:in `map'
uri:classloader:/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:328:in `block in visit_import'
uri:classloader:/gems/sass-3.4.24/lib/sass/stack.rb:88:in `block in with_import'
uri:classloader:/gems/sass-3.4.24/lib/sass/stack.rb:115:in `with_frame'
uri:classloader:/gems/sass-3.4.24/lib/sass/stack.rb:88:in `with_import'
uri:classloader:/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:325:in `visit_import'
uri:classloader:/gems/sass-3.4.24/lib/sass/tree/visitors/base.rb:36:in `visit'
uri:classloader:/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
uri:classloader:/gems/sass-3.4.24/lib/sass/stack.rb:79:in `block in with_base'
uri:classloader:/gems/sass-3.4.24/lib/sass/stack.rb:115:in `with_frame'
uri:classloader:/gems/sass-3.4.24/lib/sass/stack.rb:79:in `with_base'
uri:classloader:/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:160:in `visit'
uri:classloader:/gems/sass-3.4.24/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
org/jruby/RubyArray.java:2486:in `map'
uri:classloader:/gems/sass-3.4.24/lib/sass/tree/visitors/base.rb:52:in `visit_children'
uri:classloader:/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
uri:classloader:/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
uri:classloader:/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
uri:classloader:/gems/sass-3.4.24/lib/sass/tree/visitors/base.rb:36:in `block in visit'
uri:classloader:/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
uri:classloader:/gems/sass-3.4.24/lib/sass/tree/visitors/base.rb:36:in `visit'
uri:classloader:/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:159:in `visit'
uri:classloader:/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:8:in `visit'
uri:classloader:/gems/sass-3.4.24/lib/sass/tree/root_node.rb:36:in `css_tree'
uri:classloader:/gems/sass-3.4.24/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
uri:classloader:/gems/sass-3.4.24/lib/sass/engine.rb:381:in `_render_with_sourcemap'
uri:classloader:/gems/sass-3.4.24/lib/sass/engine.rb:298:in `render_with_sourcemap'
uri:classloader:/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
uri:classloader:/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
org/jruby/RubyArray.java:1734:in `each'
uri:classloader:/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
uri:classloader:/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:294:in `watch'
uri:classloader:/gems/sass-3.4.24/lib/sass/plugin.rb:109:in `method_missing'
<script>:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$color-orange\".\A         on line 5 of /mnt/Ubuntu_Data/CodeFellows/finalProject/event-master/Event-Master/src/main/resources/sass/layout/pages/_header.scss\A         from line 1 of /mnt/Ubuntu_Data/CodeFellows/finalProject/event-master/Event-Master/src/main/resources/sass/main.scss\A \A 1: @import \"layout/pages/header\";\A 2: @import \"abstracts/variables\";"; }
