<!doctype html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/module.css">
    <link rel="stylesheet" href="/css/state.css">
</head>
<body>
    <header th:replace="./fragments/header :: header"></header>
    <h2 class="about-h2">About Us</h2>
    <p class="aboutus-message">Thank you for using our app! Below is some information about us.
        <br /> To find out about us more please go to our LinkedIn and Github pages.</p>
    <h2>About Us</h2>

    <h2>Amelia Waggoner</h2>
    <img src="/img/amelia-waggoner.jpeg" alt="Amelia Waggoner's photo">
    <ul>
        <li><a href="https://www.linkedin.com/in/amelia-waggoner/">LinkedIn</a></li>
        <li><a href="https://github.com/GoldenDog190">Github</a></li>
    </ul>
    <p>I am a software developer/engineer in HTML, CSS, JavaScript, and Java.
        <br /> Also, I have B.A. in Japanese language studies and East Asia studies, and minor in international business and economics.</p>

    <h2>Leaundrae Mckinney</h2>
    <img src="/img/drae.jpeg" alt="">
    <ul>
        <li><a href="">LinkedIn</a></li>
        <li><a href="">Github</a></li>
    </ul>
    <p></p>

    <h2>Barrett Nance</h2>
    <img src="/img/barrett.jpg" alt="Barrett Nance">
    <ul>
        <li><a href="https://www.linkedin.com/in/barrett-nance/">LinkedIn</a></li>
        <li><a href="https://github.com/baxance">Github</a></li>
    </ul>
    <p>I’m a high school dropout from Hilo, Hawaii and a veteran of the Marine Corps, tug boats, kitchens, sales and bee keeping. Most recently I left my position as the production manager for a single malt whiskey distillery.
        <br />The lockdown showed the fragility of my industry and forced me to consider own position within it, so now I’m pursuing a career in Software Development for what I plan to be my last career change.</p>

    <h2>Matthew Simms</h2>
<!--    <img th:src="@{https://placehold.it/200x70/111}" th:alt="">-->
    <ul>
        <li><a href="">LinkedIn</a></li>
        <li><a href="">Github</a></li>
    </ul>
    <p></p>


    <footer th:replace="./fragments/footer :: footer"></footer>

</body>
</html>