<!doctype html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/module.css">
    <link rel="stylesheet" href="/css/state.css">
</head>
<body>
    <header th:replace="./fragments/header :: header"></header>
    <h2 class="about-h2">About Us</h2>
    <p class="aboutus-message">Thank you for using our app! Below is some information about us.
        <br /> To find out about us more please go to our LinkedIn and Github pages.</p>

    <div class="aboutus">
        <div>
            <h2>Amelia Waggoner
                <br /> <a href="https://www.linkedin.com/in/amelia-waggoner/">LinkedIn</a>
                <br /> <a href="https://github.com/GoldenDog190">Github</a>
            </h2>
            <img src="/img/amelia-waggoner.jpeg" alt="Amelia Waggoner's photo"class="about-img">
        </div>
        <div class="about-info">
            <p>I am a Software programmer with a B.A. Japanese language & culture, & minor in international business.
                <br />Always had a interest in software programming & technology. I picked this skill because it will get me into a career where I can constantly grow & learn.
                <br />I want to combine my B.A. & software programming skills, & work for a Japanese tech company or a company that is affiliated with Japan.
                <br />I have experience in customer service & time management.
            </p>
        </div>
    </div>

    <div class="aboutus">
        <div>
            <h2>Leaundrae Mckinney
                <br /> <a href="">LinkedIn</a>
                <br /> <a href="">Github</a>
            </h2>
            <img src="/img/drae.jpeg" alt=""  class="about-img">
        </div>
        <div class="about-info">
            <p>This is info about me</p>
        </div>
    </div>

    <div class="aboutus">
        <div>
            <h2>Barrett Nance
                <br /> <a href="">LinkedIn</a>
                <br /> <a href="">Github</a>
            </h2>
            <img src=""  class="about-img" alt="">
        </div>
        <div class="about-info">
            <p>This is info about me</p>
        </div>
    </div>

    <div class="aboutus">
        <div>
            <h2>Matthew Simms
                <br /> <a href="">LinkedIn</a>
                <br /> <a href="">Github</a>
            </h2>
            <img src=""  class="about-img" alt="">
        </div>
        <div class="about-info">
            <p>This is info about me</p>
        </div>
    </div>



    <footer th:replace="./fragments/footer :: footer"></footer>

</body>
</html>