<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/module.css">
    <link rel="stylesheet" href="/css/state.css">

<!--    <script src="/calendarEvents"></script>-->

</head>
<body>
    <header th:replace="./fragments/header :: header"></header>

    <h3>Add new Event</h3>
    <form action="/newEvent" method="post">
        <label for="title">Title</label>
        <input id="title" type="text" placeholder="Type your Event title here" required name="title">
        <label for="date">Date</label>
        <input id="date" type="date"  required name="date">
        <input type="submit" value="Add">
    </form>

    <div class="ui container">
        <div class="ui grid">
            <div class="ui sixteen column">
                <div id="calendar-main"></div>
            </div>
        </div>
    </div>

    <footer th:replace="./fragments/footer :: footer"></footer>
    <script src="/js/app.js"></script>
</body>
</html>
