<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/module.css">
    <link rel="stylesheet" href="/css/state.css">

<!--    <script src="/calendarEvents"></script>-->

</head>
<body>
    <header th:replace="./fragments/header :: header"></header>
    <div class="popup" id="popup">
        <div class="popup__content">
            <div class="popup__content--item">
                <h3 class="heading--primary">Add new Event</h3>
                <form action="/newEvent" method="post" class="form form__create-account">
                    <div class="form__group">
                        <label for="allDayCheckbox">All Day?</label>
                        <input id="allDayCheckbox" type="checkbox"  name="allDay">
                        <input type="text" class="form__input form__input--event" id="title" placeholder="What do you need completed?"
                               name="title" required>
                        <label for="title" class="form__label">Title</label>
                        <input type="number" class="form__input form__input--event" min="0" max="100" step="25" id="reward" placeholder="Reward Amount" name="reward">
                        <label for="reward" class="form__label">Points</label>
                    </div>
                    <div class="form__group form__group-1" >

                        <label class="dateField form__label--date form__label--date-1" for="startDate">
                            <span class= "">Start Day</span>
                            <input class="dateField form__input form__input--event"  type="date" id="startDate" name="startDay">
                        </label>

                        <label class="dateField form__label--date form__label--date-1" for="endDate">
                            <span class= "">End Day</span>
                            <input class="dateField form__input form__input--event"  type="date" id="endDate" name="endDay">
                        </label>
                    </div>
                    <div class="form__group form__group-2">
                        <label class="timeField form__label--date form__label--date-2" for="startTime">
                            <span class= "">Start Time</span>
                            <input class="timeField form__input form__input--event" type="datetime-local" id="startTime" name="startDay">
                        </label>
                        <label class="timeField form__label--date form__label--date-2" for="endTime">
                            <span class= "">End Time</span>
                            <input class="timeField form__input form__input--event" type="datetime-local" id="endTime" name="endDay" >
                        </label>
                    </div>
                    <div class="form__group">
                        <select class="form__input form__input--event" name="assignTo" id="assignTo" >
                            <option value="" disabled selected>Select a member</option>
                            <option value="Entire Family">Entire Family</option>
                            <option th:each="member: ${members}" th:value="${member.username}" th:text="${member.firstName}"></option>
                        </select>
                        <select class="form__input form__input--event" name="dow" id="repeat">
                            <option value="" disabled selected>Frequency</option>
                            <option class="form__input form__input--event">Never</option>
                            <option class="form__input form__input--event">Daily</option>
                            <option class="form__input form__input--event">Weekly</option>
                        </select>
                    </div>
                    <div class="form_group">
                        <button class="btn btn--orange btn--event" id="add-event-btn"
                                type="submit">Add a
                            member</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div >
        <button class="btn btn--orange" id="event-btn">Add Event</button>
    </div>
    <div class="ui container">
        <div class="ui grid">
            <div class="ui sixteen column">
                <div id="calendar-main"></div>
            </div>
        </div>
    </div>

    <footer th:replace="./fragments/footer :: footer"></footer>
    <script src="/js/app.js"></script>
    <script src="/js/calendar.js"></script>
</body>
</html>
