<!doctype html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/module.css">
    <link rel="stylesheet" href="/css/state.css">
</head>
<body>

    <header class="header" th:replace="./fragments/header :: header"></header>
    <div class="section">
        <div class="row">
            <div class="col-1-of-2">
                <form action="/login" method="POST" class="form">
                    <div class="form__group">
                        <input  id="username-1" class="form__input"
                                type="text"placeholder="Username" required name="username">
                        <label for="username-1" class="form__label">Username</label>
                    </div>
                    <div class="form__group">
                        <input  id="password-1" class="form__input" required type="password"
                                placeholder="Password" name="password">
                        <label for="password-1" class="form__label">Password</label>
                    </div>
                    <div class="form__group form__group--btn">
                        <button class="btn btn--orange" type="submit">Login</button>
                    </div>
                </form>
            </div>
            <div class="col-1-of-2">
                <form for="username" action="/newUser" class="form form__create-account"
                      method="POST">
                    <div class="form__group">
                        <input  id="username" class="form__input"
                                type="text" placeholder="Choose a Username" required
                                name="username">
                        <label for="username" class="form__label">Choose a Username</label>
                    </div>
                    <div class="form__group">
                        <input  id="password" class="form__input" type="password"
                                placeholder="Enter a Password" name="password">
                        <label for="password" class="form__label">Enter a Password</label>
                    </div>
                    <div class="form__group ">
                        <input id="firstName" class="form__input"
                               placeholder="Enter your first name"
                               type="text"name="firstName">
                        <label for="firstName" class="form__label" >First Name</label>
                    </div>
                    <div class="form__group ">
                        <input id="lastName" class="form__input"
                               placeholder="Enter your last name"
                               type="text"name="lastName">
                        <label for="lastName" class="form__label" >Last Name</label>
                    </div>

                    <div class="form__group form__group--btn">
                        <button type="submit" class="btn btn--orange">Create Account</button>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <footer th:replace="./fragments/footer :: footer"></footer>
</body>
</html>