<!doctype html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

    <header class="header" th:replace="./fragments/header :: header"></header>
    <div class="section">
        <div class="row">
            <div class="col-1-of-2">
                <form action="/login" method="POST" class="form">
                    <div class="form__group">
                        <input  id="username-1" class="form__input"
                                type="text"placeholder="Username" required name="username">
                        <label for="username-1" class="form__label">Username</label>
                    </div>
                    <div class="form__group">
                        <input  id="password-1" class="form__input" required type="password"
                                placeholder="Password" name="password">
                        <label for="password-1" class="form__label">Password</label>
                    </div>
                    <div class="form__group form__group--btn">
                        <button class="btn btn--orange" type="submit">Login</button>
                    </div>
                </form>
            </div>
            <div class="col-1-of-2">
                <form for="familyUsername" action="/newFamily" class="form form__create-account"
                      method="POST">
                    <div class="form__group">
                        <input  id="familyUsername" class="form__input"
                                type="text" placeholder="Choose a Username" required
                                name="familyUsername">
                        <label for="familyUsername" class="form__label">Choose a Username</label>
                    </div>
                    <div class="form__group">
                        <input  id="familyPassword" class="form__input" type="password"
                                placeholder="Enter a Password" name="familyPassword">
                        <label for="familyPassword" class="form__label">Enter a Password</label>
                    </div>
                    <div class="form__group ">
                        <input id="familyName" class="form__input"
                               placeholder="Enter your family name"
                               type="text"name="familyName">
                        <label for="familyName" class="form__label" >Family Name</label>
                    </div>
                    <div class="form__group form__group--btn">
                        <button type="submit" class="btn btn--orange">Create Account</button>
                    </div>
                </form>
            </div>
        </div>
<!--        <form action="/newFamily" method="POST">-->

<!--            <label for="familyUsername">Username</label>-->
<!--            <input id="_familyUsername" type="text" name="familyUsername">-->

<!--            <label for="familyPassword">Password</label>-->
<!--            <input id="_familyPassword" type="password" name="familyPassword">-->

<!--            <label for="familyName">Family Name</label>-->
<!--            <input id="_familyName" type="text" name="familyName">-->

<!--            <input type="submit" value="Create New Family">-->
<!--        </form>-->
    </div>

    <footer th:replace="./fragments/footer :: footer"></footer>
</body>
</html>