<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/module.css">
    <link rel="stylesheet" href="/css/state.css">
</head>
<body>
    <header th:replace="./fragments/header :: header"></header>

    <h1 class="heading--secondary" th:text="'Welcome back '+ ${member.firstName} + '!'">Add New
        Family Member</h1>
    <div class="row row--1">
        <div class="col-1-of-3 col--1">
            <div th:replace="./fragments/member :: member"></div>
        </div>
        <div class="col-1-of-3 col--2">
            <div class="section__primary_member-group--current" id="member-btn">

                <!-- <ul>
                    <li class="current--text" th:each="familyMember : ${member.familyIBelongTo.members} "th:text="'Name: ' + ${familyMember.firstName}">Bob</li>
                </ul> -->
                <button class=" btn btn--orange-member member-btn" >Add A Member</button>

            </div>

            <div class="section__primary_member-group--form" hidden id="member-form">

                <form th:if="${member.role} == 'parent' "th:action="'/newUser/' + ${member.familyIBelongTo.id}" method="post" id="member-form--btn" class="section__primary--newmember">
                    <div class="form__group">
                        <input id="username" required placeholder="Username"
                               class="form__input" type="text" name="username">
                        <label class="form__label" for="username">Username</label>
                        <input id="password" required placeholder="Password"
                               class="form__input" type="password" name="password">
                        <label class="form__label" for="password">Password</label>
                        <input id="firstName" required placeholder="First name"
                               class="form__input"
                               type="text" name="firstName">
                        <label class="form__label" for="firstName">First Name</label>
                        <input id="lastName" required placeholder="Last name"
                               class="form__input" type="text" name="lastName">
                        <label class="form__label" for="lastName">Last Name</label>
                        <select name="role" required class="form__input">
                            <option>Select Role</option>
                            <option value="parent">Parent</option>
                            <option value="child">Child</option>
                        </select>
                        <button class="btn btn--orange member-btn member-form--btn"
                                type="submit">Add Member</button>
                    </div>
                </form>
            </div>


            <div class="section__primary">
                <div class="row section__tertiary">
                    <div class="section__tertiary col-1-of-3 col--2-col--3"> Col 1 of 2
                        <ul>
                            <li>Clean room</li>
                            <li>Clean garage</li>
                            <li>Pick up toys</li>
                            <li>Do homework</li>
                            <li>Mow the lawn</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row section__tertiary">
                <div class="section__tertiary col-1-of-3 col--2-col--4">
                    Col 1 of 2
                    <ul>
                        <li>Wash dishes</li>
                        <li>pick up toys</li>
                        <li>sweep the floor</li>
                        <li>vacuum</li>
                        <li>Play</li>
                    </ul>
                </div>
            </div>
            <div>
            </div>

        </div>


        <div class="section">

        </div>

        <section hidden class="section__secondary">
            <div id="calendar-profile"></div>
        </section>

        <section class="section__tertiary">

        </section>

    </div>
    <footer th:replace="./fragments/footer :: footer"></footer>
</body>
</html>