<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/module.css">
    <link rel="stylesheet" href="/css/state.css">
</head>
<body>
    <header th:replace="./fragments/header :: header"></header>

    <h1>Signup</h1>
    <form action="/newFamily" method="POST">

        <label for="familyUsername">Username</label>
        <input id="familyUsername" type="text" name="familyUsername">

        <label for="familyPassword">Password</label>
        <input id="familyPassword" type="password" name="familyPassword">

        <label for="familyName">Family Name</label>
        <input id="familyName" type="text" name="familyName">

        <input type="submit" value="Create New Family">
    </form>

    <footer th:replace="./fragments/footer :: footer"></footer>
</body>
</html>