<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.js"></script>
<h3 th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">
   Powered by: Amelia Waggoner, Leaundrae McKinney, Barrett Nance, and Matthew Simms
</h3>
<p><span>&#169</span> Copyright 2021</p>