<ul th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <li><a href="/">Home</a></li>
    <li><a href="/signup">Sign Up</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/calendar">Overview</a></li>
    <li><a href="/aboutus">About Us</a></li>
    <li><a href="/logout">Logout</a></li>
    <div class="ui container">
        <h1 class="header"> Event Master</h1>
        <div class="ui menu">
            <div class="header item">Event Master</div>
            <a class="item" href="/">Home</a>
            <a class=" active item" href="/calendar" >Calendar</a>
            <a class="item" href="/profile" >Profile</a>
            <a class="item" href="/aboutus" >About</a>
            <a class="item" href="/logout" >Logout</a>
            <div class="ui pointing dropdown link item">
              Group
              <i class="dropdown icon"></i>
              <span class="menu">
                <div class="item">Action</div>
                <div class="item">Another Action</div>
                <div class="item">Something else here</div>
                <div class="divider"></div>
                <div class="item">Separated Link</div>
                <div class="divider"></div>
                <div class="item">One more separated link</div>
              </span>
            </div>
            <div class="right menu">
                <div class="item">
                    <div class="ui action left icon input">
                        <i class="search icon"></i>
                        <input type="text" placeholder="Search">
                        <button class="ui button">Submit</button>
                    </div>
                </div>
                <a class="item">Link </a>
            </div>
        </div>
    </div>
</ul>